/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
$bg-color: #000000;
$color:#fff;
$primary-color: #e50914;
$secondary-color:#333;
/* stylelint-disable-next-line value-keyword-case */
$font: "Mulish", sans-serif;

