@import "./typography";
@import "../abstracts/functions";
@import "../abstracts/variables";

$test:red;

@include media-md{
    .container {
      width:100% !important;
      overflow: hidden !important;
    .section-one{
      @include default;
      overflow-x: hidden !important;
        .nav{
          .logo-container{
            padding: 15px 0 0 15px;
            .logo{
              width:30% !important;
              height:24px !important;
            }
          }
          .button-container{
            padding: 18px 10px 0 0 !important;
  
            .Signin-btn{
              background-color:$primary-color;
              line-height: normal;
              width:4.5rem !important;
              padding: .5rem 0 !important;
              font-weight: bold;
              font-size: 1rem;
              float: right;
              text-transform: capitalize;
              text-align:center !important;
              color:$color;
              border-radius: 5px;
            }
          }
        }
        .inner-container{
          .header{
            font-size:1.75rem !important;
          }
          .header-secondary{
            font-size: 1.125rem !important;
            margin: .5rem auto !important;
          }
          .header-primary{
            font-size:18px !important;
            padding: 0 10%;
          }
          div{
            .form-container{
              flex-direction:column !important;
  
              .email{
                width:80% !important;
                height:3rem !important;
  
              }
              .button-summit{
                width: 40% !important;
                height: 3rem !important;
                font-size:20px !important;
                margin-top:1rem !important;
              }
            }
          }
        }   
    }
  
    .section-two{
      @include flexing;
      flex-direction:column !important;
      @include default;
      justify-content: center;
      align-items: center;
      padding: 50px 5% !important;
      
  
      .enjoy-text{
        width: 90% !important;
        padding:0 !important;
        text-align:center !important;
  
        .header{
          font-size:1.625rem !important;
        }
        .header-primary{
          font-size:1.125rem !important;
        }
      }
      .img-container{
        width:100% !important;
        @include center-div;
        .tv-img{
          width: 80%;
  
        }
      }
    }
  
    .section-three{
      flex-direction: column !important;
      @include default;
      padding: 50px 5% !important;
      .enjoy-text{
        width: 100% !important;
        padding:0 !important;
        text-align:center !important;
        .header{
          font-size:1.625rem !important;
          line-height: 1.1 !important;
        }
        .header-primary{
          font-size:1.125rem !important;
          margin: 0.75em 0 0.25em !important;
        }
      }
      .img-container{
        width:100% !important;
        @include center-div;
        .tv-img{
          width: 90%;
  
        }
      }
    }
    .section-four{
      @include default;
      padding: 50px 5% !important;
      .enjoy-text{
        width: 100% !important;
        padding:0 !important;
        text-align:center !important;
        .header{
          font-size:1.625rem !important;
          line-height: 1.1 !important;
        }
        .header-primary{
          font-size:1.125rem !important;
          margin: 0.75em 0 0.25em !important;
        }
      }
    }  
    .section-five{
      flex-direction: column !important;
      @include default;
      padding: 50px 5% !important;
      .enjoy-text{
        width: 100% !important;
        padding:0 !important;
        text-align:center !important;
        .header{
          font-size:1.625rem !important;
          line-height: 1.1 !important;
        }
        .header-primary{
          font-size:1.125rem !important;
          margin: 0.75em 0 0.25em !important;
        }
      }
      .img-container{
        width:100% !important;
        @include center-div;
        .tv-img{
          width: 90% !important;
  
        }
      }
    }
    .section-six{
      @include default;
      padding: 50px 5% !important;
      margin-bottom: 0rem !important;
      .enjoy-text{
        width: 100% !important;
        padding:0 !important;
        text-align:center !important;
        .header{
          font-size:1.625rem !important;
          line-height: 1.1 !important;
        }
      }

      .faq{
        .inner-container{

          .question-flex{

            width:90% !important;
            .question{
              font-size:1rem !important;
            }
            button{
              font-size: 2rem !important;
            }
          }
          .answer{
            font-size:1rem !important;
            width:90% !important;
          }
        }
      }
      .header-primary{
        padding:1.5rem 0 1.5rem 0 !important;
      }
      div{
        .form-container{
          flex-direction:column !important;

          .email{
            width:80% !important;
            height:3rem !important;

          }
          .button-summit{
            width: 40% !important;
            height: 3rem !important;
            font-size:20px !important;
            margin-top:1rem !important;
          }
        }
      }
    }  

    .section-seven{

      padding:1rem 1rem !important;
      color:$link-color;
      @include column;
  
      .header{
        padding-bottom: 1rem !important;
      }
      .grid-container{
        // margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: 1rem !important;
  
        .grid-flex{
          @include column;
  
          .link{
            color:$link-color;
          }
        }
      }
      .country{
        padding: 1rem 0;
      }
  
    }
  }
  .Login-container {
    width:100%;
    overflow: hidden !important;
    background:$bg-color !important;
    background-size: cover;
    padding-top:2rem ;


    .Main-container{
      width:100%;
      color:$color;
      @include center-div;
      padding-bottom: 2.5rem;
      border-bottom:1px solid $color;
      form{
          width: 90% !important;
          background: rgba(0, 0, 0, 0.582);
          @include column;
          padding:1rem 0 !important;

          .Title{
              font-size: 32px;
              font-weight: bold;
          }
          .email{
              margin-top: 1rem;
              height:3rem;
              background: $secondary-color;
              color:$color;
              border:none;
              outline: none;
              padding-left: 1rem;
              border-radius: 5px;

              &::placeholder{
                  font-size: 1rem;
              }
              
          }

          .button-summit{
              margin-top: 2rem;
              background: $primary-color;
              height:3rem;
              border-radius: 5px;
              color:$color;
              font-weight:bold;
              font-size:20px;
          }
          .RememberNeed-flex{
              margin-top: 1rem;
              @include flexing;
              justify-content: space-between;
              align-items: center;
              color:$link-color;
              .rememberme-flex{

                  span{
                      padding-left: 5px;
                  }
              }
              .link{
                  color:$link-color;
              }
          }
          .form-footer{
              padding-top:5rem;
              color:$link-color;

              div{
                  font-size:16px;
                  span{
                      .link{
                          color:$color;
                      }
                  }
              }
              p{
                  font-size: 13px;
                  color: #8c8c8c;
              }
          }
      }
  }
  footer{
    padding:1rem 1rem !important;
    color:$link-color;
    @include column;
    .grid-container{
      // margin: 2rem auto 0 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr) !important;
      grid-gap: 1rem !important;

      .grid-flex{
        @include column;

        .link{
          color:$link-color;
        }
      }
    }
    
  }
  }
}