@import "./typography";
@import "../abstracts/functions";
@import "../abstracts/variables";

$test:red;

@include media-md{
    .container {
      width:100% !important;
      overflow: hidden !important;
    .section-one{
      @include default;
      overflow-x: hidden !important;
        .nav{
          .logo-container{
            padding: 15px 0 0 15px;
            .logo{
              width:30% !important;
              height:24px !important;
            }
          }
          .button-container{
            padding: 18px 10px 0 0 !important;
  
            .Signin-btn{
              background-color:$primary-color;
              line-height: normal;
              width:4.5rem !important;
              padding: .5rem 0 !important;
              font-weight: bold;
              font-size: 1rem;
              float: right;
              text-transform: capitalize;
              text-align:center !important;
              color:$color;
              border-radius: 5px;
            }
          }
        }
        .inner-container{
          .header{
            font-size:1.75rem !important;
          }
          .header-secondary{
            font-size: 1.125rem !important;
            margin: .5rem auto !important;
          }
          .header-primary{
            font-size:18px !important;
            padding: 0 10%;
          }
          div{
            .form-container{
              flex-direction:column !important;
  
              .email{
                width:80% !important;
                height:3rem !important;
  
              }
              .button-summit{
                width: 40% !important;
                height: 3rem !important;
                font-size:20px !important;
                margin-top:1rem !important;
              }
            }
          }
        }   
    }
  
    .section-two{
      @include flexing;
      flex-direction:column !important;
      @include default;
      justify-content: center;
      align-items: center;
      padding: 50px 5% !important;
      
  
      .enjoy-text{
        width: 90% !important;
        padding:0 !important;
        text-align:center !important;
  
        .header{
          font-size:1.625rem !important;
        }
        .header-primary{
          font-size:1.125rem !important;
        }
      }
      .img-container{
        width:100% !important;
        @include center-div;
        .tv-img{
          width: 80%;
  
        }
      }
    }
  
    .section-three{
      flex-direction: column !important;
      @include default;
      padding: 50px 5% !important;
      .enjoy-text{
        width: 100% !important;
        padding:0 !important;
        text-align:center !important;
        .header{
          font-size:1.625rem !important;
          line-height: 1.1 !important;
        }
        .header-primary{
          font-size:1.125rem !important;
          margin: 0.75em 0 0.25em !important;
        }
      }
      .img-container{
        width:100% !important;
        @include center-div;
        .tv-img{
          width: 90%;
  
        }
      }
    }
    .section-four{
      @include default;
      padding: 50px 5% !important;
      .enjoy-text{
        width: 100% !important;
        padding:0 !important;
        text-align:center !important;
        .header{
          font-size:1.625rem !important;
          line-height: 1.1 !important;
        }
        .header-primary{
          font-size:1.125rem !important;
          margin: 0.75em 0 0.25em !important;
        }
      }
    }  
    .section-five{
      flex-direction: column !important;
      @include default;
      padding: 50px 5% !important;
      .enjoy-text{
        width: 100% !important;
        padding:0 !important;
        text-align:center !important;
        .header{
          font-size:1.625rem !important;
          line-height: 1.1 !important;
        }
        .header-primary{
          font-size:1.125rem !important;
          margin: 0.75em 0 0.25em !important;
        }
      }
      .img-container{
        width:100% !important;
        @include center-div;
        .tv-img{
          width: 90%;
  
        }
      }
    }
    .section-six{
      @include default;
      padding: 50px 5% !important;
      margin-bottom: 10rem;
      .enjoy-text{
        width: 100% !important;
        padding:0 !important;
        text-align:center !important;
        .header{
          font-size:1.625rem !important;
          line-height: 1.1 !important;
        }
      }

      .faq{
        padding-top: 1rem;
        .inner-container{
          overflow:hidden;
          width:100%;
          color:$color;
          @include center-div;
          .question-flex{
            @include flexing;
            justify-content: space-between;
            align-items: center;
            background: $secondary-color;
            padding:1rem;
            width:90% !important;
            .question{
              font-size:1rem !important;
            }
            button{
              color: $color;
              font-size: 2rem !important;
            }
          }
          .answer{
            margin-top: 5px;
            font-size:1rem !important;
            background: $secondary-color;
            padding:2rem;
            width:90% !important;
          }
        }
      }
      .header-primary{
        font-size:1rem;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        padding:1.5rem 0 1.5rem 0 !important;
      }
      div{
        .form-container{
          flex-direction:column !important;

          .email{
            width:80% !important;
            height:3rem !important;

          }
          .button-summit{
            width: 40% !important;
            height: 3rem !important;
            font-size:20px !important;
            margin-top:1rem !important;
          }
        }
      }
    }  

  }
  }